.graph {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  background: cyan;
  border: solid 0.5px black;
  width: 25px;
  margin: 2.5px;
  transition: 0.2s all;
}